@bg-color-light: oklch(97.18% 0.0025 158.82);
@bg-color-dark: oklch(19.71% 0.0099 158.82);

@bg-color-gray: oklch(47.33% 0.0074 140.82); //higher number = lighter gray
@bg-color-gray1: oklch(68.4% 0.0074 140.82);
@bg-color-gray2: oklch(90% 0.0074 140.82);

@bg-color-routeGeneration-gray0: rgb(106, 109, 107); //higher number = lighter gray
@bg-color-routeGeneration-gray1: rgb(141, 143, 142);
@bg-color-routeGeneration-gray2: rgb(185, 190, 187);
@bg-color-routeGeneration-gray3: rgb(210, 213, 211);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: @bg-color-light;
  overflow-x: hidden;
}