<main>
  <app-nav-bar></app-nav-bar>
  <div class="landing-page-container">
    <div style="grid-column: 1 / 2; grid-row: 1 / span 2; background-color: inherit;">
      <img src="/BusyCity.png" alt="River Journey Image" height="auto" width="100%"
        style="border-radius: 10px; opacity: 90%; border: 2px gray solid;" />
    </div>

    <div style="grid-column: 2 / 4; grid-row: 1 / span 2; user-select: none; justify-content: space-around;">
      <div>
        <h3 style="font-size: 48px; margin-bottom: 0px; font-weight: 650; letter-spacing: 2px;">- Pathfinder -</h3>
        <p style="font-size: 16px;">Find the cheapest, fastest, and most efficient ways to travel!</p>
      </div>
      <button class="landing-page-main-button" routerLink="/generator" routerLinkActive="active">Try it out!</button>
    </div>

    <div style="grid-column: 1 / 4; grid-row: 3 / 5; flex-direction: row; justify-content: space-evenly;">
      <mat-card class="landing-page-card">
        <mat-card-header>
          <mat-card-title class="landing-page-card-title">
            Rideshare
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p style="font-size: 12px; text-align: left; margin-top: 0px;">Analyze convenient ride share options
            for your transportation needs. Perfect for direct, comfortable, and easy travel!</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="landing-page-card-button">Details</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="landing-page-card">
        <mat-card-header>
          <mat-card-title class="landing-page-card-title">
            Public Transport
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p style="font-size: 12px; text-align: left; margin-top: 0px;">Access reliable public transportation options
            for your daily commute needs. Perfect for scheduled, economical, and environmentally-friendly travel!</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="landing-page-card-button">Details</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="landing-page-card">
        <mat-card-header>
          <mat-card-title class="landing-page-card-title">
            Personal Transport
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p style="font-size: 12px; text-align: left; margin-top: 0px;">Choose your own vehicle options for your
            transportation needs. Perfect for flexible, independent, and personalized travel!</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="landing-page-card-button">Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</main>